@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

table {
  border-spacing: 12px;
  font-family: 'Lato', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

th {
  border-bottom: 1px solid black;
  font-size: 16px;
}

td {
  text-align: center;
  font-size: 12px;
  min-width: 10ch;
  padding: 2px 4px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.tasknumber {
  border: none;
  margin: none;
  cursor: auto;
}

.not-finished {
  color: white;
  background-color: #dc3545;
}

.to-correct {
  color: white;
  background-color: #ffc107;
}

.done {
  color: white;
  background-color: #28a745;
}